plugins/project/ng-rt-smartContracts-tutorials/api/nodeRed/SC_vehicleTransfer.json
[
    {
        "id": "305a56f2.058f9a",
        "type": "tab",
        "label": "SC_vehicleTransfer",
        "disabled": false,
        "info": "The contract is about simple transfer of an asset to next owner if the latest inspection date of a vehicle is within the one year period.",
        "nodes": [
            {
                "id": "e3e020fd.c3627",
                "type": "function",
                "z": "305a56f2.058f9a",
                "name": "make output text",
                "func": "return msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 1390,
                "y": 940,
                "wires": [
                    [
                        "f88a53cf.3c9f7"
                    ]
                ]
            },
            {
                "id": "a3d777ae.16cf38",
                "type": "function",
                "z": "305a56f2.058f9a",
                "name": "validateDate",
                "func": "var lastInspectionDate = msg.lastInspectionDate;\n\nfunction isValidDate(str) {\n\n    // mm-dd-yyyy hh:mm:ss\n  \n    var regex = /(\\d{4})[-\\/](\\d{1,2})[-\\/](\\d{1,2})\\s*(\\d{0,2}):?(\\d{0,2}):?(\\d{0,2})/,\n        parts = regex.exec(str);\n\n    if (parts) {\n        var date = new Date ( (+parts[1]), (+parts[2])-1, (+parts[3]), (+parts[4]), (+parts[5]), (+parts[6]) );\n            \n      if ( ( date.getFullYear() == parts[1] ) && ( date.getMonth() == parts[2]-1 ) && ( date.getDate() == parts[3] ) ) {\n        \n        return true\n      }\n    }\n    return false\n  }\n\nmsg.state = isValidDate (lastInspectionDate);\n\nreturn msg",
                "outputs": 1,
                "noerr": 0,
                "x": 750,
                "y": 580,
                "wires": [
                    [
                        "fa072015.54cd1"
                    ]
                ]
            },
            {
                "id": "703db075.a837a",
                "type": "comment",
                "z": "305a56f2.058f9a",
                "name": "SC_vehicleTransfer",
                "info": "The contract is about simple transfer of an asset to next owner if the latest inspection date of a vehicle is within the one year period.",
                "x": 830,
                "y": 100,
                "wires": []
            },
            {
                "id": "5bdc536f.ca855c",
                "type": "contract in",
                "z": "305a56f2.058f9a",
                "name": "getLastInspectionDate",
                "url": "/getLastInspectionDate",
                "method": "get",
                "swaggerDoc": "",
                "x": 260,
                "y": 360,
                "wires": [
                    [
                        "89877ecc.afe2c"
                    ]
                ],
                "info": "To check the lastInspectionDate of the vehicle"
            },
            {
                "id": "89877ecc.afe2c",
                "type": "get-memory-field",
                "z": "305a56f2.058f9a",
                "name": "read lastInspectionDate",
                "field": "lastInspectionDate",
                "destination": "payload",
                "x": 530,
                "y": 360,
                "wires": [
                    [
                        "4a17e1be.f6be5"
                    ]
                ]
            },
            {
                "id": "e1eaca7c.aed398",
                "type": "get-memory-field",
                "z": "305a56f2.058f9a",
                "name": "read lastInspectionDate",
                "field": "lastInspectionDate",
                "destination": "payload",
                "x": 830,
                "y": 860,
                "wires": [
                    [
                        "70e49f9b.8a892"
                    ]
                ]
            },
            {
                "id": "902dd57f.a478f8",
                "type": "set-memory-field",
                "z": "305a56f2.058f9a",
                "name": "set memory field",
                "field": "ownerPubKey",
                "source": "ownerPubKey",
                "x": 1410,
                "y": 200,
                "wires": [
                    [
                        "b6b2b160.6cbca"
                    ]
                ]
            },
            {
                "id": "a67fea6e.4bb668",
                "type": "contract in",
                "z": "305a56f2.058f9a",
                "name": "init",
                "url": "/vehicleTransfer",
                "method": "get",
                "swaggerDoc": "",
                "x": 210,
                "y": 200,
                "wires": [
                    [
                        "e920e562.d51788"
                    ]
                ],
                "info": "To publish the instance of contract"
            },
            {
                "id": "4a17e1be.f6be5",
                "type": "function",
                "z": "305a56f2.058f9a",
                "name": "Check InspectionDate",
                "func": "if((typeof msg.payload == \"undefined\") || (msg.payload === null)){\n    msg.payload = \n    {\n        state: false,\n        msg: \"There is no inspection date... Please provide inspection date...\"\n    };\n    \n}\n\nreturn msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 860,
                "y": 360,
                "wires": [
                    [
                        "65b99ce0.82ea94"
                    ]
                ]
            },
            {
                "id": "fa072015.54cd1",
                "type": "switch",
                "z": "305a56f2.058f9a",
                "name": "",
                "property": "state",
                "propertyType": "msg",
                "rules": [
                    {
                        "t": "true"
                    },
                    {
                        "t": "false"
                    }
                ],
                "checkall": "true",
                "repair": false,
                "outputs": 2,
                "x": 910,
                "y": 580,
                "wires": [
                    [
                        "a2eb8af7.74d068"
                    ],
                    [
                        "8a222e00.b0d5e"
                    ]
                ]
            },
            {
                "id": "e60ed0a9.fe70c",
                "type": "done",
                "z": "305a56f2.058f9a",
                "name": "done",
                "x": 1390,
                "y": 520,
                "wires": []
            },
            {
                "id": "e744a2e1.ab237",
                "type": "caller-pubkey",
                "z": "305a56f2.058f9a",
                "name": "owner public key",
                "destination": "ownerPubKey",
                "x": 1130,
                "y": 200,
                "wires": [
                    [
                        "902dd57f.a478f8"
                    ]
                ]
            },
            {
                "id": "f88a53cf.3c9f7",
                "type": "rollback",
                "z": "305a56f2.058f9a",
                "name": "",
                "x": 1620,
                "y": 940,
                "wires": []
            },
            {
                "id": "e920e562.d51788",
                "type": "arguments",
                "z": "305a56f2.058f9a",
                "name": "get argument assetId",
                "position": "0",
                "destination": "assetId",
                "dataType": "asset",
                "description": "The id of the asset to be transfered.",
                "x": 520,
                "y": 200,
                "wires": [
                    [
                        "5553bd07.1d77b4"
                    ]
                ]
            },
            {
                "id": "3ae2bb9f.c3f874",
                "type": "rollback",
                "z": "305a56f2.058f9a",
                "name": "",
                "x": 1380,
                "y": 640,
                "wires": []
            },
            {
                "id": "65b99ce0.82ea94",
                "type": "done",
                "z": "305a56f2.058f9a",
                "name": "done",
                "x": 1170,
                "y": 360,
                "wires": []
            },
            {
                "id": "3883506a.9ad7d",
                "type": "get-transfer-info",
                "z": "305a56f2.058f9a",
                "name": "read vehicle info",
                "destination": "asset",
                "x": 500,
                "y": 860,
                "wires": [
                    [
                        "e1eaca7c.aed398"
                    ]
                ]
            },
            {
                "id": "a2eb8af7.74d068",
                "type": "set-memory-field",
                "z": "305a56f2.058f9a",
                "name": "set memory field",
                "field": "lastInspectionDate",
                "source": "lastInspectionDate",
                "x": 1150,
                "y": 520,
                "wires": [
                    [
                        "e60ed0a9.fe70c"
                    ]
                ]
            },
            {
                "id": "70e49f9b.8a892",
                "type": "function",
                "z": "305a56f2.058f9a",
                "name": "Check Inspection Interval",
                "func": "var date = new Date();\nvar currentDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();\n\n// take the input\nconst lastInspectionDate = msg.payload;\n\nconst Diff  = (new Date(currentDate)) - (new Date(lastInspectionDate));\nconst yearDiff = Diff / (1000 * 60 * 60 * 24 * 365)\n\nconsole.log(`Difference is : `,parseInt(yearDiff));\n\nif (parseInt(yearDiff) <= 1){\n    msg.payload = \"Please go ahead with transfer!!!\"\n    return [msg, null]\n}else{\n     msg.payload = {\n            state: false,\n            msg: \"Please do the inspection soon!!!\"\n    };\n   \n    return [null, msg]\n}\n",
                "outputs": 2,
                "noerr": 0,
                "x": 1150,
                "y": 860,
                "wires": [
                    [
                        "2375ea07.ef4e46"
                    ],
                    [
                        "e3e020fd.c3627"
                    ]
                ]
            },
            {
                "id": "b6b2b160.6cbca",
                "type": "done",
                "z": "305a56f2.058f9a",
                "name": "done",
                "x": 1690,
                "y": 200,
                "wires": []
            },
            {
                "id": "5d1025ac.02415c",
                "type": "contract in",
                "z": "305a56f2.058f9a",
                "name": "transferVehicle",
                "url": "/transferVehicle",
                "method": "get",
                "swaggerDoc": "",
                "x": 240,
                "y": 860,
                "wires": [
                    [
                        "3883506a.9ad7d"
                    ]
                ],
                "info": "To initiate the transfer of asset to the mentioned next owner"
            },
            {
                "id": "2375ea07.ef4e46",
                "type": "function",
                "z": "305a56f2.058f9a",
                "name": "make output text",
                "func": "return msg;",
                "outputs": 1,
                "noerr": 0,
                "x": 1390,
                "y": 780,
                "wires": [
                    [
                        "8fe076f9.6e4058"
                    ]
                ]
            },
            {
                "id": "5553bd07.1d77b4",
                "type": "set-memory-field",
                "z": "305a56f2.058f9a",
                "name": "set memory field",
                "field": "assetId",
                "source": "assetId",
                "x": 800,
                "y": 200,
                "wires": [
                    [
                        "e744a2e1.ab237"
                    ]
                ]
            },
            {
                "id": "8a222e00.b0d5e",
                "type": "function",
                "z": "305a56f2.058f9a",
                "name": "error message",
                "func": "msg.payload = \n        {\n            state: false,\n            msg: \"Invalid date format ...\"\n        };\n\nreturn msg",
                "outputs": 1,
                "noerr": 0,
                "x": 1140,
                "y": 640,
                "wires": [
                    [
                        "3ae2bb9f.c3f874"
                    ]
                ]
            },
            {
                "id": "3e0d785e.4248b8",
                "type": "arguments",
                "z": "305a56f2.058f9a",
                "name": "get argument inspectionDate",
                "position": 0,
                "destination": "lastInspectionDate",
                "dataType": "date",
                "description": "The inspection date of the vehicle.",
                "x": 500,
                "y": 580,
                "wires": [
                    [
                        "a3d777ae.16cf38"
                    ]
                ]
            },
            {
                "id": "8970dc3f.e4ff5",
                "type": "contract in",
                "z": "305a56f2.058f9a",
                "name": "setInspectionDate",
                "url": "/setInspectionDate",
                "method": "get",
                "swaggerDoc": "",
                "x": 250,
                "y": 580,
                "wires": [
                    [
                        "3e0d785e.4248b8"
                    ]
                ],
                "info": "To set the inspection date of the vehicle"
            },
            {
                "id": "a4aa7c78.66dcd",
                "type": "project-sc-1.0",
                "z": "305a56f2.058f9a",
                "name": "SC_vehicleTransfer",
                "version": "1.0",
                "x": 250,
                "y": 100,
                "wires": []
            },
            {
                "id": "8fe076f9.6e4058",
                "type": "allow-transfer",
                "z": "305a56f2.058f9a",
                "name": "allow transfer",
                "assetId": "",
                "x": 1680,
                "y": 780,
                "wires": [
                    [
                        "56ff0cd.dfc94f4"
                    ]
                ]
            },
            {
                "id": "56ff0cd.dfc94f4",
                "type": "done",
                "z": "305a56f2.058f9a",
                "name": "transfer successful",
                "x": 1990,
                "y": 780,
                "wires": []
            }
        ]
    }
]