plugins/project/ng-rt-jwt-auth/server/nodeRed/userResetPassword.json
[
  {
    "id": "d2a41d0e.9675d",
    "type": "tab",
    "label": "user-reset-password",
    "nodes": [
      {
        "id": "ad4ffa9a.dd0408",
        "type": "ui-listener",
        "z": "d2a41d0e.9675d",
        "name": "",
        "applicationName": "",
        "event": "USER_reset_password",
        "x": 141,
        "y": 337,
        "wires": [
          [
            "3a127edc.ff4562",
            "d7643b38.1e51b8"
          ]
        ]
      },
      {
        "id": "3e28e70a.e0fa98",
        "type": "email-template-sender",
        "z": "d2a41d0e.9675d",
        "recepient": "",
        "template": "",
        "payload": "",
        "x": 468,
        "y": 311,
        "wires": [
          [
            "2b26b6cb.d77aea"
          ]
        ]
      },
      {
        "id": "2b26b6cb.d77aea",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "debug email-template",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 634,
        "y": 419,
        "wires": []
      },
      {
        "id": "322821a.e94a5de",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "debug get payload",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 559,
        "y": 106,
        "wires": []
      },
      {
        "id": "a211f864.9d0b88",
        "type": "email-sender",
        "z": "d2a41d0e.9675d",
        "recepient": "admin@project.com",
        "message": "qq",
        "subject": "reset password",
        "x": 501,
        "y": 198,
        "wires": [
          [
            "aaf37464.45ad78"
          ]
        ]
      },
      {
        "id": "aaf37464.45ad78",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "debug email",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 735,
        "y": 233,
        "wires": []
      },
      {
        "id": "3a127edc.ff4562",
        "type": "function",
        "z": "d2a41d0e.9675d",
        "name": "get payload",
        "func": "//msg.payload = msg.ctx.payload.message\n//msg.topic = msg.ctx.topic\nmsg.ctx.template = 'reset_password';\nmsg.ctx.recepient = [msg.ctx.email];\nmsg.ctx.payload = {\n    email: msg.ctx.email,\n    token: msg.ctx.token\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 232,
        "y": 203,
        "wires": [
          [
            "3e28e70a.e0fa98",
            "322821a.e94a5de"
          ]
        ]
      },
      {
        "id": "d7643b38.1e51b8",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "debug listener ",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 326,
        "y": 425,
        "wires": []
      },
      {
        "id": "85ec1acd.a54248",
        "type": "email-template-sender",
        "z": "d2a41d0e.9675d",
        "recepient": "",
        "template": "",
        "payload": "",
        "x": 473.5,
        "y": 812,
        "wires": [
          [
            "ab4b5b16.b6cb18"
          ]
        ]
      },
      {
        "id": "3d069ade.fa34e6",
        "type": "inject",
        "z": "d2a41d0e.9675d",
        "name": "trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "trigger mail",
        "payload": "{\"recepient\": [\"admin@project.com\"], \"payload\": {\"callerEmail\": \"foo@example.com\", \"calledEmail\": \"bar@example.com\"}}",
        "payloadType": "json",
        "x": 198,
        "y": 616,
        "wires": [
          [
            "d86298e0.cdd938",
            "b1396eda.99733"
          ]
        ]
      },
      {
        "id": "ab4b5b16.b6cb18",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "debug email-template-sender",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 702.5,
        "y": 715,
        "wires": []
      },
      {
        "id": "d86298e0.cdd938",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "debug trigger",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 310,
        "y": 506,
        "wires": []
      },
      {
        "id": "b1396eda.99733",
        "type": "function",
        "z": "d2a41d0e.9675d",
        "name": "get-payload",
        "func": "msg.ctx = {};\nmsg.ctx.recepient = msg.payload.recepient;\n//msg.ctx.template = msg.payload.template;\nmsg.ctx.payload = msg.payload.payload;\n//msg.ctx.payload.callerEmail = 'foo@example.com';\n//msg.ctx.payload.calledEmail = 'bar@example.com';\nmsg.ctx.template = 'reset_password'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 302,
        "y": 714,
        "wires": [
          [
            "aaca195d.6fc448",
            "85ec1acd.a54248"
          ]
        ]
      },
      {
        "id": "aaca195d.6fc448",
        "type": "debug",
        "z": "d2a41d0e.9675d",
        "name": "degug get-peayload",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 479,
        "y": 608,
        "wires": []
      }
    ]
  }
]