plugins/project/ng-rt-admin/api/nodeRed/sendEmail.json
[
    {
       "id":"22787aba.89e0e6",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"debug email-template",
       "active":false,
       "console":"true",
       "complete":"true",
       "x":870,
       "y":280,
       "wires":[
 
       ]
    },
    {
       "id":"c5da6795.ff1b88",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"debug email",
       "active":false,
       "console":"true",
       "complete":"true",
       "x":932,
       "y":169,
       "wires":[
 
       ]
    },
    {
       "id":"632b3b7f.8d98b4",
       "type":"email-template-sender",
       "z":"55d624aa.32ad0c",
       "recepient":"",
       "template":"",
       "payload":"",
       "x":540,
       "y":270,
       "wires":[
          [
             "22787aba.89e0e6",
             "5137261a.18cd18"
          ]
       ]
    },
    {
       "id":"844b5622.4f0368",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"debug get payload",
       "active":true,
       "console":"true",
       "complete":"true",
       "x":682,
       "y":155,
       "wires":[
 
       ]
    },
    {
       "id":"31431620.fe128a",
       "type":"e-mail",
       "z":"55d624aa.32ad0c",
       "server":"smtp.gmail.com",
       "port":"465",
       "secure":true,
       "name":"admin@project.com",
       "dname":"",
       "x":512,
       "y":99,
       "wires":[
 
       ]
    },
    {
       "id":"de9f9cab.977af",
       "type":"function",
       "z":"55d624aa.32ad0c",
       "name":"get payload",
       "func":"//msg.ctx = {};\n//msg.ctx.recepient = msg.payload.recepient;\n//msg.ctx.payload = msg.payload.payload;\nmsg.ctx.template = 'sendEmail';\n\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":363,
       "y":156,
       "wires":[
          [
             "632b3b7f.8d98b4",
             "844b5622.4f0368"
          ]
       ]
    },
    {
       "id":"d3da21ac.d6f6c",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"debug listener ",
       "active":false,
       "console":"true",
       "complete":"true",
       "x":316,
       "y":267,
       "wires":[
 
       ]
    },
    {
       "id":"a2ac225c.12e93",
       "type":"function",
       "z":"55d624aa.32ad0c",
       "name":"get-payload",
       "func":"msg.ctx = {};\nmsg.ctx.recepient = msg.payload.recepient;\nmsg.ctx.payload = msg.payload.payload;\nmsg.ctx.template = 'sendEmail'\nreturn msg;\n",
       "outputs":1,
       "noerr":0,
       "x":336.5,
       "y":390,
       "wires":[
          [
             "fb0f402b.e6309",
             "972da7c1.2443e8"
          ]
       ]
    },
    {
       "id":"d2938402.cb63c8",
       "type":"inject",
       "z":"55d624aa.32ad0c",
       "name":"trigger",
       "topic":"trigger mail",
       "payload":"{\"recepient\":[\"\"],\"payload\":{\"filename\":\"\",\"username\":\"\"}}",
       "payloadType":"json",
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":"",
       "x":165.5,
       "y":379,
       "wires":[
          [
             "3c883b40.e81944",
             "a2ac225c.12e93"
          ]
       ]
    },
    {
       "id":"fb0f402b.e6309",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"degug get-peayload",
       "active":true,
       "console":"true",
       "complete":"true",
       "x":602.5,
       "y":328,
       "wires":[
 
       ]
    },
    {
       "id":"93575b4b.f88708",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"debug email-template-sender",
       "active":true,
       "console":"true",
       "complete":"true",
       "x":902,
       "y":335,
       "wires":[
 
       ]
    },
    {
       "id":"3c883b40.e81944",
       "type":"debug",
       "z":"55d624aa.32ad0c",
       "name":"debug trigger",
       "active":true,
       "console":"true",
       "complete":"true",
       "x":319.5,
       "y":320,
       "wires":[
 
       ]
    },
    {
       "id":"34bd1f98.24166",
       "type":"ui-listener",
       "z":"55d624aa.32ad0c",
       "name":"",
       "applicationName":"",
       "event":"sendEmail",
       "x":160,
       "y":227,
       "wires":[
          [
             "de9f9cab.977af",
             "d3da21ac.d6f6c"
          ]
       ]
    },
    {
       "id":"972da7c1.2443e8",
       "type":"email-template-sender",
       "z":"55d624aa.32ad0c",
       "recepient":"",
       "template":"",
       "payload":"",
       "x":589,
       "y":391,
       "wires":[
          [
             "93575b4b.f88708"
          ]
       ]
    },
    {
       "id":"5137261a.18cd18",
       "type":"sync-observer-end",
       "z":"55d624aa.32ad0c",
       "name":"",
       "x":800,
       "y":220,
       "wires":[
 
       ]
    }
 ]